<% provide(:title, 'Home') %>
<h1>Home</h1>


<a href="#"
  data-reflex="click->Counter#increment"
  data-step="1" 
  data-count="<%= @count.to_i %>"
> Increment <%= @count.to_i %></a>

<br>

<form>
  <input type="text" data-reflex="input->Calc#sum" autofocus="true" placeholder="Type an integer"><br>
  times<br>
  <input type="text" name="multiplier" value="5">
</form>
<p>Result: <span id="result"></span></p>
